<%- include('../partials/head', { title: 'Create Reserve' }) -%>
    <!-- add styles here -->
    </head>

    <body>
        <div id="wrapper">
            <%- include('../partials/sidebar', { path: 'reserve' }) -%>
                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                        <%- include('../partials/topbar') -%>
                            <div class="container-fluid">
                                <%- include('../partials/btn-back',{page:'/reserve'}) -%>

                                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                        <h1 class="h3 mb-0 text-gray-800">Create Reserve</h1>
                                    </div>

                                    <!-- Start Form -->
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <form method="POST" action="/reserve/create">
                                                <%- include('../partials/alert-flash-message') -%>

                                                    <!-- Customer Section -->

                                                    <h4 class="mb-3">Customer Information</h4>



                                                    <div class="mb-3">
                                                        <label for="cpf" class="form-label">CPF</label>
                                                        <div class="d-flex gap-3">
                                                            <input type="text" id="cpf" name="cpf"
                                                                class="form-control mr-1"
                                                                placeholder="Enter CPF (e.g., 111.111.111-11)"
                                                                pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required>
                                                            <button type="button" id="search-customer"
                                                                class="btn btn-secondary">
                                                                Search
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div id="customer-fields">
                                                        <!-- Name Field -->
                                                        <div class="mb-3">
                                                            <label for="name" class="form-label">Name</label>
                                                            <input type="text" id="name" name="name"
                                                                class="form-control" placeholder="Enter customer name"
                                                                disabled>
                                                        </div>

                                                        <!-- Phone number Field -->
                                                        <div class="mb-3">
                                                            <label for="phone" class="form-label">Phone
                                                                Number</label>
                                                            <input type="tel" id="phone" name="phone"
                                                                class="form-control"
                                                                placeholder="Enter customer phone number" minlength="11"
                                                                maxlength="11" disabled>
                                                        </div>

                                                        <!-- Email Field -->
                                                        <div class="mb-3">
                                                            <label for="email" class="form-label">Email</label>
                                                            <input type="email" id="email" name="email"
                                                                class="form-control" placeholder="Enter customer email"
                                                                disabled>
                                                        </div>

                                                    </div>


                                                    <hr>

                                                    <!-- Room Section -->
                                                    <h4 class="mb-3">Room Information</h4>

                                                    <!-- Room Type -->
                                                    <div class="mb-3">
                                                        <label for="room-type" class="form-label">Room Type</label>
                                                        <select id="room-type" name="room_type" class="form-control"
                                                            required>
                                                            <option value="">Select Room Type</option>
                                                            <option value="SINGLE">Single</option>
                                                            <option value="DOUBLE">Double</option>
                                                            <option value="FAMILY">Family</option>
                                                        </select>
                                                    </div>

                                                    <!-- Room Filters -->
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label for="beds" class="form-label">Number of Beds</label>
                                                            <input type="number" id="beds" name="beds"
                                                                class="form-control" placeholder="Enter number of beds">
                                                        </div>
                                                    </div>

                                                    <!-- Check-in and Check-out Dates -->
                                                    <div class="row mt-4">
                                                        <div class="col-md-6">
                                                            <label for="checkin-date" class="form-label">Check-in
                                                                Date</label>
                                                            <input type="date" id="checkin-date" name="checkin_date"
                                                                class="form-control" required>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label for="checkout-date" class="form-label">Check-out
                                                                Date</label>
                                                            <input type="date" id="checkout-date" name="checkout_date"
                                                                class="form-control" required>
                                                        </div>
                                                    </div>

                                                    <!-- Available Rooms -->
                                                    <div class="mt-4">
                                                        <label for="available-rooms" class="form-label">Available
                                                            Rooms</label>
                                                        <select id="available-rooms" name="room_id" class="form-control"
                                                            required>
                                                            <option value="">Select a Room</option>
                                                            <!-- Rooms will be dynamically populated here -->
                                                        </select>
                                                    </div>

                                                    <!-- Submit Button -->
                                                    <div class="text-center mt-4">
                                                        <button type="submit" class="btn btn-primary">
                                                            Create Reserve
                                                        </button>
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- End Form -->

                            </div>
                    </div>
                    <%- include('../partials/footer') -%>
                </div>
        </div>

        <%- include('../partials/scripts') -%>
            <script src="/public/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
            <script>
                const customerNameElement = document.getElementById('name')
                const customerPhoneElement = document.getElementById('phone')
                const customerEmail = document.getElementById('email')
                const searchCustomerElement = document.getElementById('search-customer')
                const roomTypeElement = document.getElementById('room-type')
                const bedsElement = document.getElementById('beds')
                const checkinDateElement = document.getElementById('checkin-date')
                const checkoutDateElement = document.getElementById('checkout-date')


                const fetchCostumer = async (cpf) => {
                    const response = await fetch(`/customer/json/${cpf}`)
                    const data = await response.json()
                    if (!response.ok) {
                        throw new Error(data.error)
                    }
                    return data
                }

                const showCustomer = (customer) => {
                    customerNameElement.value = customer.name || '';
                    customerPhoneElement.value = customer.phone || '';
                    customerEmail.value = customer.email || '';
                }

                const handleSearchCustomerClick = async () => {
                    let swalInstance = null

                    const delay = () =>
                        new Promise((resolve) => setTimeout(resolve, 1000))

                    try {
                        const cpf = document.getElementById('cpf').value;

                        if (!cpf) {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Please enter a valid CPF.',
                            })
                            return
                        }

                        swalInstance = Swal.fire({
                            title: "Searching Customer...",
                            text: "Please wait while we fetch the customer data.",
                            showConfirmButton: false,
                            allowOutsideClick: false,
                            didOpen: () => {
                                Swal.showLoading();
                            }
                        })

                        const promiseDelay = delay()
                        const cpfFormatted = cpf.replace(/\D/g, '')
                        const customer = await fetchCostumer(cpfFormatted)
                        await promiseDelay
                        swalInstance.close()
                        showCustomer(customer)
                    } catch (error) {
                        if (swalInstance) {
                            swalInstance.close()
                        }
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: error.message,
                        });
                    }
                }



                const createHandleFilterChange = () => {
                    let debounceTimeout
                    return () => {
                        clearTimeout(debounceTimeout);

                        debounceTimeout = setTimeout(() => {
                            filterRooms()
                        }, 500)
                    }
                }

                const handleFilterChange = createHandleFilterChange()

                async function filterRooms() {
                    const roomType = roomTypeElement.value
                    const beds = bedsElement.value
                    const checkinDate = checkinDateElement.value
                    const checkoutDate = checkoutDateElement.value


                    if (!checkinDate || !checkoutDate) {
                        return
                    }

                    let url = `/room/json/available/?checkin=${checkinDate}&checkout=${checkoutDate}`
                    if (roomType) {
                        url += `&type=${roomType}`
                    }
                    if (beds) {
                        url += `&beds=${beds}`
                    }

                    try {
                        const response = await fetch(url)
                        const rooms = await response.json()
                        

                        const roomSelect = document.getElementById('available-rooms')
                        roomSelect.innerHTML = '<option value="">Select a Room</option>'

                        if (!response.ok) {
                            const option = document.createElement('option');
                            option.textContent = 'No rooms available for the selected dates.'
                            roomSelect.appendChild(option)
                        } else {
                            rooms.forEach(({ id, room_code, room_number, floor }) => {
                                const option = document.createElement('option')
                                option.value = id
                                option.textContent = `Room ${room_code} | Number ${room_number} | Floor ${floor}`
                                roomSelect.appendChild(option)
                            })
                        }
                    } catch (error) {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: error.message,
                        })
                    }
                }

                searchCustomerElement.addEventListener('click', handleSearchCustomerClick)
                roomTypeElement.addEventListener('change', handleFilterChange)
                bedsElement.addEventListener('input', handleFilterChange)
                checkinDateElement.addEventListener('input', handleFilterChange)
                checkoutDateElement.addEventListener('input', handleFilterChange)
            </script>
    </body>

    </html>