<%- include('../partials/head',{title:'Employee'}) -%>
   <!-- add styles here -->
   <link href="/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
   </head>

   <body>
      <div id="wrapper">
         <%- include('../partials/sidebar',{path:'employee'}) -%>
            <div id="content-wrapper" class="d-flex flex-column">
               <div id="content">
                  <%- include('../partials/topbar') -%>
                     <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                           <h1 class="h3 mb-0 text-gray-800">Employee</h1>
                        </div>
                        <div class="card shadow mb-4">
                           <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">List Employee</h6>
                           </div>
                           <div class="card-body">
                              <div class="table-responsive">
                                 <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                       <tr>
                                          <th>Name</th>
                                          <th>Salary</th>
                                          <th>CPF</th>
                                          <th>Start date</th>
                                          <th>Actions</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <% if(employees.length===0) {%>
                                          <tr>
                                             <td colspan="5" class="text-center">No employees registered.</td>
                                          </tr>
                                          <%}%>
                                             <% for(employee of employees){ %>
                                                <tr>
                                                   <td>
                                                      <%= employee.name %>
                                                   </td>
                                                   <td>
                                                      <%= employee.salary %>
                                                   </td>
                                                   <td>
                                                      <%= employee.cpf %>
                                                   </td>
                                                   <td>
                                                      <%= employee.created_at %>
                                                   </td>
                                                   <td>
                                                      <div class="d-flex gap-2  justify-content-around">
                                                         <a href="#" class="btn btn-primary btn-circle">
                                                            <i class="fas fa-eye"></i>
                                                         </a>
                                                         <a href="#" class="btn btn-danger btn-circle">
                                                            <i class="fas fa-trash"></i>
                                                         </a>
                                                      </div>
                                                   </td>
                                                </tr>
                                                <% } %>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>

                        <div>
                           <a href="/employee/create" class="btn btn-primary btn-icon-split">
                              <span class="text">Register Employee</span>
                           </a>
                        </div>
                     </div>
               </div>
               <%- include('../partials/footer') -%>
            </div>
      </div>

      <%- include('../partials/scripts') -%>
         <!-- add scritps here -->
         <!-- Page level plugins -->
         <script src="/public/vendor/datatables/jquery.dataTables.min.js"></script>
         <script src="/public/vendor/datatables/dataTables.bootstrap4.min.js"></script>

         <!-- Page level custom scripts -->
         <script src="/public/js/demo/datatables-demo.js"></script>
   </body>
   <html>